@import '../../../styles.scss';

.cart {
    margin: 200px 50px;
    display: flex;
    justify-content: center;
    background-color: $second-color-w;
    border-radius: 20px;
    width: 90%;
    border-collapse: collapse;
    .c-items {
        padding: 20px;
        width: 100%;
        text-align: center;
        tr {
            display: flex;
            justify-content: space-around;
            color: $white-color;
            font-family: $second-font;
            
            th{
                font-size: 1.7em;
            }
            td{
                font-size: 1.5em;
            }
            th, td{
                width: 500px;
                padding: 10px;
            }
        }
    }
}
.sum{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    color: $second-color-w;
    font-family: $second-font;
    font-size: 2em;
    p:nth-child(2){
        padding-left: 10px;
    }
}
@media screen and(max-width: 530px) {
    .cart {
        width: 80%;
        .c-items {
            padding: 10px;
            tr {
                th{
                    font-size: 1.1em;
                }
                td{
                    font-size: 1em;
                }
                th, td{
                    width: 300px;
                }
            }
        }
    }
}