@import '../../../styles.scss';

.cart {
    padding: 300px;

    .c-items {
        background-color: $second-color-w;
        border-radius: 20px;
        padding: 20px;
        .mat-list-item {
            color: $white-color;
            font-family: $second-font;
            font-size: 1.5em;
        }
    }

   
}

@media screen and(max-width: 1360px) {
    .cart {
        padding: 100px;
        .c-items {
            .mat-list-item {
                font-size: 1em;
            }
            #ar {
                margin-left: 50px;
            }
        }
    }
}