@import '../../../styles.scss';
.shop{
    padding-top: 5%;
    .products{
        margin: 40px;
     .product{
         box-shadow: $box-shadow;
         .item{
             margin: 90px;
         }
     }   
    }
    img{
        height: 170px;
    }

}

