@import '../../styles.scss';

.toolbar{
    z-index: 100;
    position: fixed;
    background-color: $main-color;
    display: flex;
    justify-content: end;
    padding: 20px 40px;
    box-shadow: $box-shadow;
    .home{
        position: absolute;
        left: 0;
        text-decoration: none;
        padding-left: 10px;
        #icon{
            color: $white-color;
        }
        #menu-l{
            color: $white-color;
            font-size: 1.8em;
            padding-left: 10px;
            font-family: $primary-font;
        }
    }
   
    .toolbar-links .mat-button-toggle{
        font-size: 1.4em;
        font-family: $second-font;
        color: $white-color;
        font-weight: bold;
        letter-spacing: 3px;
    }    
    .toolbar-links .mat-button-toggle:hover{
        color: $second-color-w;
    }
}
