@import '../../styles.scss';

.toolbar{
    z-index: 100;
    position: fixed;
    background-color: $main-color;
    display: flex;
    justify-content: end;
    padding: 20px 40px;
    box-shadow: $box-shadow;
    #menu-l{
        color: $white-color;
        font-size: 1.8em;
        padding-left: 20px;
        position: absolute;
        left: 0;
        font-family: $primary-font;
    }
    .toolbar-links a{
        font-size: 1.4em;
        font-family: $second-font;
        color: $white-color;
        font-weight: bold;
        letter-spacing: 3px;
    }    
    .toolbar-links a:hover{
        color: $second-color-w;
    }
}
