<mat-toolbar class="toolbar">
    <a href="/home" class="home">
        <mat-icon id="icon">home</mat-icon>
        <span id="menu-l">WeddingShop</span>
    </a>
    <mat-button-toggle-group class="toolbar-links">
        <mat-button-toggle routerLink="home">Kezdőlap</mat-button-toggle>
        <mat-button-toggle routerLink="shop">Termékek</mat-button-toggle>
        <mat-button-toggle routerLink="shoppingbag">Kosár</mat-button-toggle>
        <mat-button-toggle routerLink="signup">Bejelentkezés</mat-button-toggle>
        <mat-button-toggle routerLink="logout">Log out</mat-button-toggle>
    </mat-button-toggle-group>
</mat-toolbar>
    