@import '../../styles.scss';
.footer{
    background-color: $main-color;
    padding: 2% 0;
    text-align: center;
    font-family: $second-font;
    .contactus{ 
        margin-top: 1%;
        color: $white-color !important;
        .mat-list-item-content{
            justify-content: center;
            
        }   
    }
}